HOST=demo.slimfact.app
API_HOST=demo.slimfact.app
POSTGRES_HOST=database
POSTGRES_DB=slimfact
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
POSTGRES_SSL=
POSTGRES_POOL_MAX=3
OTP_SECRET=generate-a-random-secret
OTP_VALIDITY_SECONDS=3600
OIDC_COOKIES_KEYS=key1,key2,key3
OIDC_CLIENT_ID=slimfact
OIDC_CLIENT_SECRET=changeme
OIDC_ISSUER_NAME=SlimFact
MAIL_HOST=
MAIL_PORT=465
MAIL_FROM=
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=true
EMAIL_FOOTER=SlimFact
VITE_TITLE=SlimFact
VITE_LANG=en-US
VITE_COUNTRY=NL
SOURCE_COLOR=#00a4e6
PIN_ENABLED=false
MOLLIE_API_KEY=
STRIPE_API_KEY=
IDEAL_PAYMENT_HANDLER=mollie # Or stripe
CREDITCARD_PAYMENT_HANDLER=mollie
MODULARAPI_DEFAULT_EMAIL=admin@example.com
MODULARAPI_DEFAULT_PASSWORD=changeme
CACERT=
DEBUG=
RATE_LIMIT_PER_MINUTE=1000000
