services:
  database:
    image: postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: ufgouifdgjdfg
      POSTGRES_DB: slimfact
    volumes:
      - slimfact-db-data:/var/lib/postgresql
    networks:
      dev:
        aliases:
          - database
  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    logging:
      driver: "none"
    ports:
      - "8026:8025"
      - "1026:1025"
    networks:
      dev:
        aliases:
          - mailhog

  dev:
    build:
      context: .
      secrets:
        - SIMSUSTECH_NPM_TOKEN
      dockerfile: Dockerfile
      target: api
    labels:
      caddy: ${HOST}.local
      caddy.reverse_proxy: "{{upstreams 80}}"
    volumes:
      - ./packages/app/dist:/packages/app/dist
      - ./packages/api/dist:/app/dist
      - slimfact-jwks:/app/dist/server/jwks
    environment:
      # API env variables
      VITE_API_HOST: ${HOST}.local
      VITE_LICENSE_KEY: undefined
      VITE_TITLE: SlimFact dev
      POSTGRES_HOST: database
      POSTGRES_DB: slimfact
      POSTGRES_PASSWORD: ufgouifdgjdfg
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_FROM: ${MAIL_FROM}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASS: ${MAIL_PASS}
      OIDC_COOKIES_KEYS: 7JOoAPoC5232uJiUdDd+7EUuyFFcZqQJwsAQDnoldZI=
      OTP_SECRET_FILE: nonsecure
      OTP_VALIDITY_SECONDS: 3600
      EMAIL_FOOTER: "SlimFact dev"
    networks:
      dev:
        aliases:
          - api
      web:

secrets:
  SIMSUSTECH_NPM_TOKEN:
    file: ./env/SIMSUSTECH_NPM_TOKEN

networks:
  dev:
  web:
    external: true

volumes:
  slimfact-db-data:
  slimfact-jwks:
